
.addTag__inputTag{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    padding: 10px;
  }

  .addTag__inputTag:focus{
    outline: none;
    border-color: black;
  }