.app{
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__container{
  width: 70vw;
  height: 80vh;
  background-color: whitesmoke;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0 0 5px 0;
}


