  .student{
    display: flex;
    margin: 10px 0;
    flex-direction: column;
  }

  .student__infoAppear{
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .student__img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 0px;
    flex: 0.2;
  }
  
  .student__img img{
    border-radius: 99%;
    width: 150px;
    height: 150px;
    border: 1px solid lightgray;
    height: 100%;
  }
  
  .student__content{
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
  }
  
  .student__name{
    font-size: 50px;
    margin: 20px 0 5px 0
  }
  
  .student__info{
    margin-left: 30px;
  }
  
  .student__info h4, .student__tests h4{
    font-size: 20px;
    margin: 0 0 5px 0;
    font-weight: 300
  }

  .student__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .student__expand .MuiSvgIcon-root{
    font-size: 50px;
  }

  .student__hidden{
    display: flex;
  }

  .student__blank{
    flex: 0.2;
  }

  .student__tests, .student__addTags{
    flex: 0.8;
    margin-left: 30px;
  }
  
  .hide{
    display: none;
  }
  
  .student__tagContent{
    display: flex;
  }

  .student__tags{
    display: flex;
  }

  .student__tags p{
    margin-right: 5px;
    padding: 10px;
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
  }
